.pure-menu ul {
    text-align: justify;
    min-width: 500px;
	width: 100%;
	border-style: solid;
	border-radius: 5px;
	padding: 1px;
	background-color: lightblue;
	font-family: monospace;
	
	
	
	
	
}
.pure-menu ul:after {
    content: '';
    display: inline-block;
    width: 100%;
}
.pure-menu ul li {
    display: inline-block;
	color: 
}

a {
	text-decoration: none;
}